h3 {
	display: inline-block;
}

#level-info {
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 20px;
	border: solid black 2px;
	width: ;
}

table, td {
	border: solid black 5px;
	border-collapse: collapse;
	padding: 40px;
	background: white;
}