@bright-green: #11ee11;
@background: #335511;
@words: #aaaaaa;
@shadow: #111111;
@border: 3px;

body {
	background: @background;
	font-family: Georgia, serif;
}

header {
	background: @words;
	padding: 20px;
	margin-bottom: 12px;
	box-shadow: 6px 6px 10px 8px @shadow;
	h1 {
		color: @bright-green;
		text-shadow: 5px 4px @shadow;
		letter-spacing: 4px;
		font-size: 450%;
		text-align: center;
		margin: 0 auto;
	}
}

#side-bar {
	float: left;
	width: 25%;
	height: 500px;
	background: @words;
	box-shadow: 6px 6px 10px 8px @shadow;
	div {
		padding: 20px;
		h2 {
			margin-top: 0;
		}
	}
}

#level-content {
	float: left;
	width: 75%;
	clear: right;
	letter-spacing: 2px;
}

#level-info {
	color: @words;
	text-align: center;
	margin: 25px auto 25px auto;
	padding-left: 20px;
	padding-right: 20px;
	background: black;
	border: solid @words 2px;
	width: 80%;
}

#board {
	margin: 0 auto;
}

footer {
	display: block;
	float: center;
	clear: both;
}

#endgame-message {
	display: none;
	margin-top: 0px;
}

.level-button {
	height: 40px;
	width: 160px;
	text-align: center;
	color: white;
	font-size: 120%;
	display: block;
	margin: 20px auto;

	text-shadow:-1px -1px 0 @background;
	border: 2px solid black;

	background-image:-webkit-linear-gradient(top, @bright-green, @shadow);
	background-image:-moz-linear-gradient(top, @bright-green, @shadow);
	background-image:-ms-linear-gradient(top, @bright-green, @shadow);
	background-image:-o-linear-gradient(top, @bright-green, @shadow);
	background-image:linear-gradient(to bottom, @bright-green, @shadow);

	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;

	-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 2px 0 black; 
	-moz-box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 2px 0 black; 
	box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 2px 0 black;

	&:hover {
		border: solid 2px gray;
	}
}

.level-button:before {
	background: #f0f0f0;
	background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#D0D0D0), to(#f0f0f0));

	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;

	position: absolute;
	left: -6px; right: -6px;
	top: -6px; bottom: -10px;
	z-index: -1;
}

.level-button:active {
	-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset;
	top:5px;
	background-image:-webkit-linear-gradient(top, @shadow, @bright-green);
	background-image:-moz-linear-gradient(top, @shadow, @bright-green);
	background-image:-ms-linear-gradient(top, @shadow, @bright-green);
	background-image:-o-linear-gradient(top, @shadow, @bright-green);
	background-image:linear-gradient(top, @shadow, @bright-green);

	&:before {
		top: -11px;
		bottom: -5px;
	}
}

#next-level {
	display: none;
}

@grayb: #333333;

.player-button {
	height: 60px;
	width: 160px;
	text-align: center;
	color: @shadow;
	font-size: 120%;
	display: block;
	margin: 20px auto;

	text-shadow:-1px -1px 0 black;
	border: 2px solid black;

	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;

	-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 2px 0 black; 
	-moz-box-shadow:0 1px 2px rgba(0, 0, 0, .5) inset, 0 2px 0 black; 

	&:hover {
		border: solid 2px gray;
	}
}

.selected {
	-webkit-box-shadow: 0; 
	-moz-box-shadow: 0; 
}

.fire-player {
	background-image:-webkit-linear-gradient(top, orange, #443300);
	background-image:-moz-linear-gradient(top, orange, #443300);
	background-image:-ms-linear-gradient(top, orange, #443300);
	background-image:-o-linear-gradient(top, orange, #443300);
	background-image:linear-gradient(to bottom, orange, #443300);

	&.selected {
		background-image:-webkit-linear-gradient(top, #443300, orange);
		background-image:-moz-linear-gradient(top, #443300, orange);
		background-image:-ms-linear-gradient(top, #443300, orange);
		background-image:-o-linear-gradient(top, #443300, orange);
		background-image:linear-gradient(top, #443300, orange);
	}
}

.ice-player {
	background-image:-webkit-linear-gradient(top, #AACCFF, #223344);
	background-image:-moz-linear-gradient(top, #AACCFF, #223344);
	background-image:-ms-linear-gradient(top, #AACCFF, #223344);
	background-image:-o-linear-gradient(top, #AACCFF, #223344);
	background-image:linear-gradient(to bottom, #AACCFF, #223344);

	&.selected {
		background-image:-webkit-linear-gradient(top, #223344, #AACCFF);
		background-image:-moz-linear-gradient(top, #223344, #AACCFF);
		background-image:-ms-linear-gradient(top, #223344, #AACCFF);
		background-image:-o-linear-gradient(top, #223344, #AACCFF);
		background-image:linear-gradient(top, #223344, #AACCFF);
	}
}

.animate > img {
	animation: fade 3s infinite;
}

@keyframes fade {
    20% {
        opacity: 0.5;
    }
}

td > img {
	position: absolute;
	margin-top: -32px;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}

#board {
	margin: auto;
	width: fit-content;
}

table, td {
	border: solid black @border;
	border-collapse: collapse;
	padding: 40px;
	background: white;
}

.flash {
	animation: blink 2s infinite;
}

@keyframes blink {
    50% {
        border: @border solid white;
        background: @words;
    }
}

footer {
	width: 100%;
	margin: 40px 0px 0px 0px;
	padding: 20px 60px 20px 60px;
	color: @words;
	background: black;
	font-size: 75%;
	a {
		color: #77aadd
	}
}