h3 {
	display: inline-block;
}

#level-info {
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 20px;
	border: solid black 2px;
}

#you-won {
	display: none;
	text-align: center;
}

table, td {
	border: solid black 5px;
	border-collapse: collapse;
	padding: 40px;
	background: white;
}

.flash {
	animation: blink 2s infinite;
}

@keyframes blink {
    50% {
        border: 5px solid white;
        background: gray;
    }
}